body {
  font-family: Arial, sans-serif;
  background-color: #b0b0b0;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  display: block;
  position: absolute; /* Definindo o posicionamento absoluto para o botão */
  top: 0; /* Colocando o botão no topo do container */
  right: 0; /* Colocando o botão no canto direito do container */
  margin: 20px; /* Adicionando margem para separar o botão das bordas */
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: #444;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
}

button i {
  font-size: 18px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.input-container input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.input-container button {
  padding: 8px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.delete-task {
  display: none;
  margin-left: 5px;
  cursor: pointer;
}

.delete-task:before {
  content: 'x';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ff1100b6;
  color: #000000;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  border-radius: 50%;
}

.edit-mode .delete-task {
  display: inline;
}

.edit-mode #new-task,
.edit-mode #add-btn {
  display: inline-block;
}

.completed-task {
  color: #888888;
  text-decoration: line-through;
}

#todo-list {
  margin-top: 20px;
}
